.sectionheader__hlUnderline {
    height: 4px;
    width: 60px;
    margin-top: 0.75rem;
    background-color: var(--col-background-brand);
    display: block
}

@media(min-width: 768px) {
    .sectionheader__hlUnderline {
        margin-top:1rem;
        width: 80px
    }
}

.sectionheader {
    --sectionheader-infoline-margin-top: 16;
    --sectionheader-spacing-below: 0
}

@media(min-width: 768px) {
    .sectionheader {
        --sectionheader-infoline-margin-top:24
    }
}

.sectionheader--keyline-large {
    --sectionheader-infoline-margin-top: 12
}

@media(min-width: 768px) {
    .sectionheader--keyline-large {
        --sectionheader-infoline-margin-top:16
    }
}

.sectionheader--spacingBelow {
    --sectionheader-spacing-below: 24
}

@media(min-width: 1280px) {
    .sectionheader--spacingBelow {
        --sectionheader-spacing-below:36
    }
}

.sectionheader--spacingBelow-medium {
    --sectionheader-spacing-below: 24
}

@media(min-width: 1280px) {
    .sectionheader--spacingBelow-medium {
        --sectionheader-spacing-below:36
    }
}

.sectionheader--spacingBelow-large {
    --sectionheader-spacing-below: 32
}

@media(min-width: 1024px) {
    .sectionheader--spacingBelow-large {
        --sectionheader-spacing-below:40
    }
}

@media(min-width: 1280px) {
    .sectionheader--spacingBelow-large {
        --sectionheader-spacing-below:48
    }
}

.sectionheader__base {
    margin-block-end:calc(var(--sectionheader-spacing-below)*0.0625rem)}

.sectionheader__hl,.sectionheader--keyline-default .sectionheader__hl {
    font: 300 1.75rem / 2.0625rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 768px) {
    .sectionheader__hl,.sectionheader--keyline-default .sectionheader__hl {
        font-size:2.5rem;
        line-height: 3rem
    }
}

.sectionheader__hl,.sectionheader--keyline-default .sectionheader__hl {
    display: block
}

.sectionheader--keyline-large .sectionheader__hl {
    font: 300 1.5rem / 2.25rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 1280px) {
    .sectionheader--keyline-large .sectionheader__hl {
        font-size:2rem;
        line-height: 3rem
    }
}

.sectionheader--keyline-large .sectionheader__hl {
    display: block
}

.sectionheader__hlUnderline {
    margin-top: 0.5rem
}

@media(min-width: 768px) {
    .sectionheader__hlUnderline {
        margin-top:0.75rem
    }
}

.sectionheader__base--standalone .sectionheader__hlUnderline {
    margin-bottom: 0
}

.sectionheader--keyline-large .sectionheader__hlUnderline {
    display: none
}

.sectionheader__infoLine {
    font: 300 1.25rem / 1.75rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 1280px) {
    .sectionheader__infoLine {
        font-size:1.5rem;
        line-height: 2.25rem
    }
}

.sectionheader__infoLine {
    margin-top: calc(var(--sectionheader-infoline-margin-top)*0.0625rem);
    display: block
}

.sectionheader__base--standalone .sectionheader__infoLine {
    padding-bottom: 0
}
