.pageheadline__wrapper:not(.pageheadline__wrapper--noImpulseLine) {
    --impulse-line-line-margin: 0.9375rem;
    --impulse-line-align: center;
    background: linear-gradient(var(--col-background-brand), var(--col-background-brand)) no-repeat left var(--impulse-line-align);
    padding-left: 20px;
    background-size: 4px calc(100% - var(--impulse-line-line-margin));
    display: block;
    position: relative
}

@media(min-width: 1280px) {
    .pageheadline__wrapper:not(.pageheadline__wrapper--noImpulseLine) {
        padding-left:24px
    }
}

.pageheadline__base--inverted.pageheadline__hero {
    --color-text-inverted: var(--col-text-inverted);
    --color-icon-inverted: var(--col-icon-inverted);
    --color-border-inverted: var(--col-border-inverted)
}

.pageheadline__base--inverted.pageheadline__hero .pageheadline__info {
    color: var(--color-text-inverted, var(--col-text-primary))
}

.pageheadline__base--inverted.pageheadline__hero .pageheadline__info b,.pageheadline__base--inverted.pageheadline__hero .pageheadline__info strong {
    font-weight: 500
}

.pageheadline__base--inverted.pageheadline__hero .pageheadline__listItemIcon,.pageheadline__base--inverted.pageheadline__hero .actionbtn__link:not(.actionbtn--disabled,.actionbtn--color-primarywhite,.actionbtn--color-white) .actionbtn__customIcon {
    filter: brightness(0) invert(1)
}

.pageheadline__base--inverted.pageheadline__hero .pageheadline__hl,.pageheadline__base--inverted.pageheadline__hero .pageheadline__caption {
    color: var(--color-text-inverted, var(--col-text-primary))
}

@media(min-width: 1024px) {
    .pageheadline__base--inverted {
        --color-text-inverted:var(--col-text-inverted);
        --color-icon-inverted: var(--col-icon-inverted);
        --color-border-inverted: var(--col-border-inverted)
    }

    .pageheadline__base--inverted .pageheadline__info {
        color: var(--color-text-inverted, var(--col-text-primary))
    }

    .pageheadline__base--inverted .pageheadline__info b,.pageheadline__base--inverted .pageheadline__info strong {
        font-weight: 500
    }

    .pageheadline__base--inverted .pageheadline__listItemIcon,.pageheadline__base--inverted .actionbtn__link:not(.actionbtn--disabled,.actionbtn--color-primarywhite,.actionbtn--color-white) .actionbtn__customIcon {
        filter: brightness(0) invert(1)
    }

    .pageheadline__base--inverted .pageheadline__hl,.pageheadline__base--inverted .pageheadline__caption {
        color: var(--color-text-inverted, var(--col-text-primary))
    }
}

.pageheadline__base::before,.pageheadline__base::after {
    content: " ";
    display: table
}

.pageheadline__base::after {
    clear: both
}

.pageheadline__base {
    margin-block:1.5rem}

@media(min-width: 768px) {
    .pageheadline__base {
        margin-block:2rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__base {
        margin-block:3rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__base {
        margin-block:3.75rem
    }
}

.pageheadline__base--stage,.pageheadline__base--fullBleed,.pageheadline__base--hero,.pageheadline__base--welcome {
    margin-block:0}

@media(min-width: 768px) {
    .pageheadline__base--welcome {
        margin-block:0rem 1.25rem
    }
}

@media(max-width: 1023px) {
    .pageheadline__base--stage,.pageheadline__base--fullBleed {
        margin-bottom:1.5rem
    }

    .pageheadline__base--stage .pageheadline__messageContent--white,.pageheadline__base--fullBleed .pageheadline__messageContent--white {
        background: rgba(0,0,0,0)
    }
}

.pageheadline__base--marketnews {
    margin-bottom: 0.75rem
}

.pageheadline__base--hideMarginBottom.pageheadline__base {
    margin-block-end:0}

.lightbox__container .pageheadline__base {
    margin-top: 1.5rem
}

@media(min-width: 1024px) {
    .lightbox__container .pageheadline__base {
        margin-top:0
    }
}

.pageheadline__messageContentWrapper {
    position: relative
}

@media(min-width: 1024px) {
    .pageheadline__messageContentWrapper {
        display:inline-block;
        vertical-align: middle;
        max-height: 100%;
        z-index: 1;
        max-width: 100%
    }
}

.pageheadline__messageContent--top .pageheadline__wrapper,.pageheadline__messageContent--center .pageheadline__wrapper,.pageheadline__messageContent--bottom .pageheadline__wrapper {
    width: 100%
}

.pageheadline__messageContent--top,.pageheadline__messageContent--center,.pageheadline__messageContent--bottom {
    margin-top: 1.5rem
}

@media(min-width: 1024px) {
    .pageheadline__messageContent--top,.pageheadline__messageContent--center,.pageheadline__messageContent--bottom {
        margin-top:0rem;
        position: absolute
    }
}

@media only print {
    .pageheadline__messageContent--top,.pageheadline__messageContent--center,.pageheadline__messageContent--bottom {
        position: relative;
        padding-left: 0
    }
}

.pageheadline__messageContent--top {
    padding-left: 0
}

@media(min-width: 1024px) {
    .pageheadline__messageContent--top {
        top:3rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__messageContent--top {
        top:3.75rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__messageContent--center {
        top:50%;
        transform: translateY(-50%)
    }

    .pageheadline__messageContent--bottom {
        bottom: 3rem
    }
}

@media(min-width: 1024px) {
}

@media(min-width: 1280px) {
    .pageheadline__messageContent--bottom {
        bottom:3.75rem
    }
}

.pageheadline__messageContent--small,.pageheadline__messageContent--medium,.pageheadline__messageContent--large {
    width: 100%
}

@media(min-width: 768px) {
    .pageheadline__messageContent--small,.pageheadline__messageContent--medium,.pageheadline__messageContent--large {
        width:calc(var(--grid-absolute-col-width)*16 + var(--grid-absolute-gutter)*15)
    }
}

@media(min-width: 1024px) {
    .pageheadline__messageContent--small {
        width:calc(var(--grid-absolute-col-width)*8 + var(--grid-absolute-gutter)*7)
    }

    .pageheadline__messageContent--medium {
        width: calc(var(--grid-absolute-col-width)*12 + var(--grid-absolute-gutter)*11)
    }
}

@media(min-width: 1024px) {
}

.pageheadline__messageContent--white {
    width: 100%;
    background: var(--col-opacity-scrim-strong)
}

@media(min-width: 768px) {
    .pageheadline__messageContent--white {
        width:calc(var(--grid-absolute-col-width)*16 + var(--grid-absolute-gutter)*15)
    }
}

@media(min-width: 1024px) {
    .pageheadline__messageContent--white {
        padding:1.5rem 24px;
        width: calc(var(--grid-absolute-col-width)*12 + var(--grid-absolute-gutter)*11)
    }
}

@media(min-width: 1280px) {
    .pageheadline__messageContent--white {
        padding:2.5rem 40px
    }
}

.pageheadline__wrapper {
    text-align: left
}

@media(min-width: 768px) {
    .pageheadline__wrapper {
        width:calc(16 / var(--grid-absolute-cols) * 100% - var(--grid-absolute-gutter) * (var(--grid-absolute-cols) - 16) / var(--grid-absolute-cols))
    }
}

.pageheadline__hl {
    display: block;
    word-break: break-word
}

.pageheadline__hl.pageheadline__hl--leadtext {
    color: var(--color-text-inverted, var(--col-text-primary));
    font: 300 1.625rem / 1.875rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 768px) {
    .pageheadline__hl.pageheadline__hl--leadtext {
        font-size:2.5rem;
        line-height: 2.625rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__hl.pageheadline__hl--leadtext {
        font-size:3.125rem;
        line-height: 3.375rem
    }
}

.pageheadline__caption+.pageheadline__hl.pageheadline__hl--leadtext {
    margin-top: 0.625rem
}

.pageheadline__hl--bottomSpacing {
    padding-bottom: 1.5rem
}

@media(min-width: 1280px) {
    .pageheadline__hl--bottomSpacing {
        padding-bottom:2rem
    }
}

.pageheadline__hl--small {
    font: 300 1.75rem / 2.0625rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 768px) {
    .pageheadline__hl--small {
        font-size:2.5rem;
        line-height: 3rem
    }
}

.grid-doc--lightbox .pageheadline__hl--small {
    font-size: 1.75rem;
    line-height: 2.0625rem
}

.grid-doc--lightbox-is-1280 .pageheadline__hl--small {
    font-size: 2.5rem;
    line-height: 3rem
}

.pageheadline__hl--medium {
    font: 300 2rem / 2.5rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 1280px) {
    .pageheadline__hl--medium {
        font-size:3rem;
        line-height: 3.5625rem
    }
}

.pageheadline__hl--large {
    font: 300 1.6875rem / 1.9375rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 768px) {
    .pageheadline__hl--large {
        font-size:2.375rem;
        line-height: 2.8125rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__hl--large {
        font-size:3.125rem;
        line-height: 3.75rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__hl--large {
        font-size:3.75rem;
        line-height: 4.5rem
    }
}

.pageheadline__hl--large {
    color: var(--color-text-inverted, var(--col-text-primary))
}

.pageheadline__info {
    word-break: break-word;
    font: 300 1.25rem / 1.75rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 1280px) {
    .pageheadline__info {
        font-size:1.5rem;
        line-height: 2.25rem
    }
}

.pageheadline__info {
    margin-top: 0.5rem
}

@media(min-width: 1280px) {
    .pageheadline__info {
        margin-top:0.75rem
    }
}

.pageheadline__info--bigSpace {
    margin-top: 1.25rem
}

.pageheadline__caption {
    font: 300 1rem / 1.625rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 1024px) {
    .pageheadline__caption {
        font-size:0.875rem;
        line-height: 1.375rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__caption {
        font-size:1rem;
        line-height: 1.625rem
    }
}

@media(min-width: 1440px) {
    .pageheadline__caption {
        font-size:1.0625rem;
        line-height: 1.6875rem
    }
}

.pageheadline__caption {
    display: block
}

.pageheadline__caption+.pageheadline__hl {
    margin-top: 0.25rem
}

@media(min-width: 1280px) {
    .pageheadline__caption+.pageheadline__hl {
        margin-top:0.5rem
    }
}

.pageheadline__caption--info {
    font: 300 1rem / 1.125rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 1024px) {
    .pageheadline__caption--info {
        font-size:0.875rem;
        line-height: 1rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__caption--info {
        font-size:1rem;
        line-height: 1.125rem
    }
}

.pageheadline__caption--info,.pageheadline__caption--lead {
    color: var(--color-text-inverted, var(--col-text-subtle))
}

.pageheadline__caption--lead {
    font: 300 1.25rem / 1.375rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 768px) {
    .pageheadline__caption--lead {
        font-size:1.375rem;
        line-height: 1.5rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__caption--lead {
        font-size:1.25rem;
        line-height: 1.375rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__caption--lead {
        font-size:1.375rem;
        line-height: 1.5rem
    }
}

.pageheadline__leadtext {
    margin-top: 1.4375rem;
    color: var(--color-text-inverted, var(--col-text-primary));
    font: 300 1.25rem / 1.5rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 768px) {
    .pageheadline__leadtext {
        font-size:1.375rem;
        line-height: 1.625rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__leadtext {
        font-size:1.25rem;
        line-height: 1.5rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__leadtext {
        font-size:1.375rem;
        line-height: 1.625rem
    }
}

.pageheadline__leadtext {
    word-break: break-word
}

.pageheadline__base--marketnews .pageheadline__leadtext {
    margin-top: 0.8125rem
}

@media(min-width: 1280px) {
    .pageheadline__base--marketnews .pageheadline__leadtext {
        margin-top:1.6875rem
    }
}

.pageheadline__teaser {
    font: 300 1rem / 1.625rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 1024px) {
    .pageheadline__teaser {
        font-size:0.875rem;
        line-height: 1.375rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__teaser {
        font-size:1rem;
        line-height: 1.625rem
    }
}

@media(min-width: 1440px) {
    .pageheadline__teaser {
        font-size:1.0625rem;
        line-height: 1.6875rem
    }
}

.pageheadline__teaser {
    margin-top: 0.75rem;
    color: var(--color-text-inverted, var(--col-text-primary))
}

@media(min-width: 1280px) {
    .pageheadline__teaser {
        margin-top:1rem
    }
}

.pageheadline__teaser b {
    font-weight: 500
}

.pageheadline__teaser a {
    color: var(--col-link-text-brand);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.125rem
}

.pageheadline__teaser a:visited {
    color: var(--col-link-text-brand-visited)
}

.pageheadline__teaser a:hover,.pageheadline__teaser a:focus {
    color: var(--col-link-text-brand-hovered)
}

.pageheadline__teaser a:active {
    color: var(--col-link-text-brand-visited)
}

.pageheadline__metaItems--leadtext {
    color: var(--color-text-inverted, var(--col-text-subtle));
    font: 300 1rem / 1.125rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 768px) {
    .pageheadline__metaItems--leadtext {
        font-size:1rem;
        line-height: 1.125rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__metaItems--leadtext {
        font-size:0.875rem;
        line-height: 1rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__metaItems--leadtext {
        font-size:1rem;
        line-height: 1.125rem
    }
}

.pageheadline__metaItems--leadtext {
    margin-top: 0.5rem
}

.article__headline+.pageheadline__metaItems--leadtext {
    margin-top: 0.25rem
}

.pageheadline__metaItems--infoline {
    font: 300 0.8125rem / 1rem Frutiger, Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    color: var(--color-text-inverted, var(--col-text-subtle))
}

@media(min-width: 1280px) {
    .pageheadline__metaItems--infoline {
        margin-top:0.75rem
    }
}

.pageheadline__metaItems--news {
    font: 300 0.8125rem / 1rem Frutiger, Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
    color: var(--color-text-inverted, var(--col-text-subtle))
}

@media(min-width: 1280px) {
    .pageheadline__metaItems--news {
        margin-top:2rem
    }
}

.pageheadline__metaItems:not(.pageheadline__metaItems--singleLine)::before,.pageheadline__metaItems:not(.pageheadline__metaItems--singleLine)::after {
    content: " ";
    display: table
}

.pageheadline__metaItems:not(.pageheadline__metaItems--singleLine)::after {
    clear: both
}

.pageheadline__metaItem {
    float: left;
    display: block
}

.pageheadline__metaItem:not(:last-child) {
    margin-right: 7px;
    padding-right: 7px;
    border-right: 1px solid var(--col-border-illustrative)
}

@media only print {
    .pageheadline__metaItem:not(:last-child) {
        border: none
    }
}

.pageheadline__metaItems--singleLine .pageheadline__metaItem {
    float: none;
    display: inline-block
}

@media only print {
    .pageheadline__metaItems--singleLine .pageheadline__metaItem.pageheadline__leadTag,.pageheadline__metaItems--singleLine .pageheadline__metaItem.pageheadline__readingTime {
        display: none
    }
}

.pageheadline__flexwrapcolumns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

.pageheadline__flexwrapstageinner {
    position: relative
}

.pageheadline__flexwrapsocial .grid-row {
    --gridrow-justify-content: end
}

.pageheadline__flexwrapstageimage-is-xsHidden,.pageheadline__flexwrapstageimage-is-sHidden {
    display: none
}

@media(min-width: 768px) {
    .pageheadline__flexwrapstageimage-is-xsHidden {
        display:block
    }

    .pageheadline__flexwrapstageimage-is-sHidden {
        display: none
    }
}

@media(min-width: 1024px) {
    .pageheadline__flexwrapstageimage-is-sHidden {
        display:block
    }
}

.pageheadline__messageTeaser--bg1 {
    --section-background-color: var(--col-background-ui-20);
    background-color: var(--col-background-ui-20)
}

.pageheadline__messageTeaser--bg2 {
    --section-background-color: var(--col-background-ui-30);
    background-color: var(--col-background-ui-30)
}

.pageheadline__messageTeaser--bg3 {
    --section-background-color: var(--col-background-ui-40);
    background-color: var(--col-background-ui-40)
}

.pageheadline__messageTeaser--bg4 {
    --section-background-color: var(--col-background-ui-10);
    background-color: var(--col-background-ui-10)
}

.pageheadline__messageTeaser {
    margin-top: 0.46875rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    position: relative;
    display: block
}

.pageheadline__messageTeaser>a {
    display: block
}

.pageheadline__messageImage {
    height: 10rem
}

@media(min-width: 768px) {
    .pageheadline__messageImage {
        height:14.75rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__messageImage--xs {
        height:18.75rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__messageImage--xs {
        height:25rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__messageImage--s {
        height:25rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__messageImage--s {
        height:31.25rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__messageImage--m {
        height:31.25rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__messageImage--m {
        height:37.5rem
    }
}

@media(min-width: 1024px) {
    .pageheadline__messageImage--l {
        height:37.5rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__messageImage--l {
        height:43.75rem
    }
}

.pageheadline__list {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

@media(min-width: 1024px) {
    .pageheadline__list {
        margin-top:30px
    }
}

.pageheadline__listItem {
    color: var(--color-text-inverted, var(--col-text-primary));
    font: 300 1rem / 1.375rem Frutiger, Arial, Helvetica, sans-serif
}

@media(min-width: 1024px) {
    .pageheadline__listItem {
        font-size:0.875rem;
        line-height: 1.0625rem
    }
}

@media(min-width: 1280px) {
    .pageheadline__listItem {
        font-size:1rem;
        line-height: 1.375rem
    }
}

.pageheadline__listItem {
    display: flex;
    align-items: center
}

.pageheadline__listItemIcon {
    margin-right: 10px;
    height: 1rem;
    width: 1rem
}

.pageheadline__socialsharing {
    width: 100%
}

@media(min-width: 1024px) {
    .pageheadline__socialsharing {
        width:auto;
        margin-inline-start:auto}
}

.pageheadline__socialsharing .socialsharing__base {
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-top: 2.5rem
}

@media(min-width: 1024px) {
    .pageheadline__socialsharing .socialsharing__base {
        margin-top:0rem
    }
}

.pageheadline__buttons {
    gap: 1.25rem;
    margin-block-start:2rem;display: flex;
    flex-direction: column
}

@media(min-width: 1024px) {
    .pageheadline__buttons {
        flex-flow:row wrap
    }
}

@media(min-width: 1280px) {
    .pageheadline__buttons {
        margin-block-start:2.5rem
    }
}
